.content {
	flex-grow: 1;
}

.hide {
	animation: hide .3s forwards !important;
}

.hide::backdrop {
	animation: show-backdrop .3s forwards !important;
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		transform: translateY(-20%);
		opacity: 0;
	}
}

@keyframes show-backdrop {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}