.popupWrapper {
	width: 30vw;
	max-height: 90vh;
	box-sizing: border-box;
}

.imageContainer{
	text-align: center;
}

.mealData{
	font-size: 28px;
	margin-bottom: 1.5em;
}

.title {
	font-size: inherit;
	margin-bottom: .2em;
}

.price{
	opacity: .6;
	font-size: .7em;
	margin-bottom: 20px;
}

.description {
	margin-bottom: 20px;
	line-height: 1.4em;
}

.selectBtn{
	background-color: var(--color-2);
	border: none;
	color: #000;
	font-size: 22px;
	border-radius: 8px;
	padding: .4em 1em;
}