:root{
	--text-color: #000;
	--color-1: #142328;
	--color-2: #FFE3AC;
	--color-3: #f6f2f0;
	--bg-color: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}