.header{
	margin-bottom: 4rem;
}

.header img{
	border-radius: 5px;
}

.pageRow{
	display: flex;
	gap: 0 40px;
}

.listContainer{
	min-width: 180px;
	position: sticky;
	top: calc(var(--menu-height) + 20px);
	align-self: flex-start;
}

.menuItemsList{
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menuItemsList > li{
	cursor: pointer;
	padding: .7em .6em;
	border-radius: 5px;
	transition: background .2s;
}

.menuItemsList > li:hover{
	background-color: var(--color-2);
}