.dialog {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1rem 0px, rgba(0, 0, 0, 0.2) 0px 1rem 1rem 0px;
	padding: 0;
}

.dialog[open] {
	animation: show .3s;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, .5);
}

.dialog[open]::backdrop {
	animation: show-backdrop .3s;
}

.dialogInner {
	padding: 1em;
}

.exitBtn{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 22px;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(20%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes show-backdrop {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}