.wrapper{
	padding: 0 10%;
}

.inputWrapper{
	position: relative;
	font-size: 18px;
	width: 350px;
	display: flex;
	align-items: center;
}

.searchIcon, .clearInput{
	position: absolute;
	width: 40px;
	text-align: center;
}

.searchIcon{
	left: 0;
}

.input{
	width: 100%;
	padding: .55em 40px;
	background-color: var(--color-2);
	font-size: inherit;
	border: none;
	border-radius: 12px;
}

.input:focus{
	outline: none;
}

.clearInput{
	display: block;
	padding: .4em;
	box-sizing: border-box;
	right: 0;
}

.clearInput button{
	display: block;
	width: 100%;
}

.input[value=""] + .clearInput{
	display: none;
}

.restaurantsList{
	width: 30em;
	position: absolute;
	/* bottom: 0; */
	transform: translateY(10px);
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.2rem 0px, rgba(0, 0, 0, 0.3) 0px 0.125rem 0.125rem 0px;
}