.cardWrapper{
	display: flex;
	gap: 10px;
}

.imgContainer{
	width: 100px;
}

.img{
	width: 100%;
	border-radius: 10px;
}

.infoContainer h2{
	font-weight: 600;
	font-size: 20px;
}

.address{
	display: block;
	margin-top: .4em;
	font-size: 17px;
	opacity: .7;
}
